#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  text-align: center;
}

header {
  height: 150px;
  background: #eaeaea;
  padding-top: 40px;
  margin-bottom: 50px;
  position: relative;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 3rem;
  margin: 0;
}

.container-form {
  height: 35px;
  position: absolute;
  bottom: -15px;
}

.container-form form {
  grid-template-columns: 200px 1fr 200px;
  display: grid;
  height: auto;
  box-shadow: 0px 5px 6px 0px #00000040;
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
}

select,
input,
button[type="submit"] {
  font-size: 1rem;
  border: none;
  padding: .8rem;
}

select {
  border-radius: .5rem 0 0 .5rem;
  -webkit-border-radius: .5rem 0 0 .5rem;
  -moz-border-radius: .5rem 0 0 .5rem;
  -ms-border-radius: .5rem 0 0 .5rem;
  -o-border-radius: .5rem 0 0 .5rem;
}

button[type='submit'] {
  border-radius: 0 .5rem .5rem 0;
  -webkit-border-radius: 0 .5rem .5rem 0;
  -moz-border-radius: 0 .5rem .5rem 0;
  -ms-border-radius: 0 .5rem .5rem 0;
  -o-border-radius: 0 .5rem .5rem 0;
}


button {
  background: rgb(252, 105, 105);
  ;
}

main {
  min-height: 100vh;
  width: 100vw;
}

.container {
  display: grid;
  padding: 1rem;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;

}

.card {
  z-index: 9;
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
  position: relative;
  animation: card 4s ease-in-out;
  color: #3a3a3a;
  cursor: pointer;
  -webkit-animation: card 4s ease-in-out;
}

.card img {
  width: 100%;
  transition: transform 1s ease;
  -webkit-transition: transform 1s ease;
  -moz-transition: transform 1s ease;
  -ms-transition: transform 1s ease;
  -o-transition: transform 1s ease;
}

.card h3 {
  font-size: 1.5rem;
  margin: 0;
}

.card p {
  margin: .3rem 0 1rem 0;
}


.card:hover img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.card::after {
  content: "";
  position: absolute;
  opacity: 0.6;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ffffff;
  z-index: -9;
}

@media (min-width: 768px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
    margin: 0 auto;
  }

  .container-form {
    width: 960px;
    margin: 0 auto;
  }
}

@keyframes card {
  0% {
    opacity: 0;
    transform: scale(.9);
    -webkit-transform: scale(.9);
    -moz-transform: scale(.9);
    -ms-transform: scale(.9);
    -o-transform: scale(.9);
  }

  50% {
    opacity: 50;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }

  100% {
    opacity: 100;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }

}